@import "bootstrap";
$post-row-base: #7D6FAD;

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-top: 90px;

  & > .container {
    width: 100%;
  }

  a:hover {
    text-decoration: none;
  }

  .navbar {
    background-color: #ededed;
  }

  h1 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  #content {
    line-height: 22px;
  }

  .posts {
    .post-row {
      background-color: $post-row-base;
      padding-bottom: 10px;
      .post {
        text-align: center;

        .title, .time {
          color: #ececec;;
        }

        .title {
          font-weight: 100;
        }

        .time {
          font-size: 11px;
        }
      }
    }
  }

  footer {
    height: 200px;
    line-height: 1px;
    margin-top: -9px;

    #faceshot {
      margin-top: 8px;
      width: 85px;
      img {
        border-radius: 50%;
      }
    }

    #name-and-description {
    }

    .social {
      a {
        color: black;

        &.space {
          margin-left: 5px;
        }

        &:hover {
          color: #008080;
        }
      }
    }
  }

  #first-post {
    margin-bottom: 15px;
  }

  #first-post, .post {
    .row {
      &.header {
        text-align: center;
      }

      &.body {
        margin: 30px auto 20px auto;
      }

      &.posted-time {
        margin: 20px auto 40px auto;
        font-style: italic;
        color: darkgray;
      }
    }
  }
}
