@import "bootstrap";

body {
  h1 {
    font-family: "proxima-nova";
    font-weight: 700;
    font-style: normal;
  }

  h4 {
    font-family: "proxima-nova";
    font-weight: 700;
    font-style: normal;
  }

  a:hover {
    text-decoration: none;
  }

  .container {
    min-height: 400px;
    max-width: 750px;

    header {
      height: 100px;
      margin-top: 20px;
      text-align: center;

      h1 {
        font-size: 40px;
      }
    }

    .posts {
      .post {
        margin-top: 15px;

        .time {
          color: grey;
          font-size: 14px;
        }

        h2 {
          margin: 0px;
          font-family: "proxima-nova";
          font-size: 20px;
        }
      }
    }

    .post {
      .header {
        margin-bottom: 40px;

        .time {
          color: grey;
          font-size: 14px;
          margin-bottom: 10px;
        }

        h1 {
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: 1;
        }
      }

      .text, code {
        font-size: 18px;
        font-family: "source-sans-pro";
        line-height: 1.5em;

        code {
          color: #008080;
        }

        h2 {
          font-family: "proxima-nova";
          font-size: 30px;
          font-style: normal;
          font-weight: 800;
          margin-top: 30px;
        }

        pre.highlight {
          margin-top: 30px;
          margin-bottom: 30px;
          white-space: pre;
          word-break: inherit;
          word-wrap: inherit;
          overflow-x: auto;
        }

        img {
          @extend .img-responsive
        }
      }
    }

    footer {
      height: 200px;

      .social {
        a {
          color: black;

          &.space {
            margin-left: 5px;
          }

          &:hover {
            color: #008080;
          }
        }
      }
    }
  }
}
