!!! 5
%html
  %head
    %title
      Ice Cold Max
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    = stylesheet_link_tag "application", "syntax"
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed", title: "Atom Feed"

%body
  .container
    %header
      %a{href: "/blog"}
        %h1 Ice Cold Max
      %h4 Oh yeah.
    %hr

    #content
      .row
        .col-md-12
          = yield

    %hr

    %footer
      .row
        .col-md-2
        .col-md-10
          %h4 David Nettle
          %p Ruby Developer based in Sydney, Australia.
          %p.social
            %a{href:"https://twitter.com/icecoldmax"}
              %i.fa.fa-twitter.fa-2x

            %a.space{href:"https://github.com/icecoldmax"}
              %i.fa.fa-github-alt.fa-2x
